.button {
    background-color: #9B2C2C;
    color: #FFF;
    border-radius: 2px;
    padding: 10px 40px;
    text-decoration: none;
    transition: 0.5s;
}

.button:hover {
    background-color: #ED8936;
}