.button {
    background-color: #9B2C2C;
    color: #FFF;
    border-radius: 4px;
    padding: 10px 80px;
    transition: 0.5s;
    font-size: 20px;
}

.button:hover {
    background-color: #ED8936;
}

