.banner_container {
    background-color: #1A202C;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.banner_container h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

.banner_container h1 span {
    color: #975A16;
    padding: 0 5px;
}

/* .banner_container p {
    margin-bottom: 5px;
} */